{% extends 'blog/base.html' %}
{% load django_markdown %}
{% block content %}
    <div class="container content">
        <div class="col-sm-offset-1 col-sm-6">
            {% for object in object_list %}
                <div>
                    <div>
                        <h1><a href="{% url 'blog:detail' object.slug %}">{{ object.title }}</a></h1>
                    </div>
                    <div>
                        <em id="update_time" style="color: #8a6d3b">更新于：{{ object.modified|date:"Y-m-d H:i" }}</em>
                    </div>
                    <div>
                        {{ object.content|markdown|striptags|safe|truncatechars:150|linebreaks }}
                    </div>
                    <hr>
                </div>
            {% endfor %}
            <nav>
                <ul class="pagination">
                    {% if object_list.has_previous %}
                        <li>
                            <a href="?page={{ object_list.previous_page_number }} " aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled"><a><span aria-hidden="true">&laquo;</span></a></li>
                    {% endif %}

                    {% for obj in object_list.paginator.page_range %}
                        {% if object_list.number == obj %}
                            <li class="active"><a href="#">{{ obj }}</a></li>
                        {% else %}
                            <li><a href="?{{ page_request_var }}={{ obj }}">{{ obj }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if object_list.has_next %}
                        <li><a href="?{{ page_request_var }}={{ object_list.next_page_number }}"><span
                                aria-hidden="true">&raquo;</span></a></li>
                    {% else %}
                        <li class="disabled"><a><span aria-hidden="true">&raquo;</span></a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <div class="col-sm-2 col-sm-offset-1" ng-controller="TagController">
            <h2>Tags</h2>
            {% for tag in tags %}
                <a href="{% url 'blog:filter' tag.name %}">{{ tag.name }}</a><br>
            {% endfor %}
        </div>


    </div>

{% endblock %}
