{% load staticfiles %}
<div class="footer" style="background-color: #2a3333">
    <div class="container text-muted" ">
        <div class="col-md-3 col-md-offset-1">
            <hr>
            <p>The articles of this site is provided by zhaochy, a master student of CAS. All the articles of this site
                are provided without warranty of any kind. Permission of all the articles of this site is hereby
                granted, free of charge, to any person obtaining a copy of all the articles and files, to deal the
                articles without restriction.</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <div class="footImg"><h3>STAY CONNECTED</h3></div>
            <hr/>
            <p> Feel free to contact me at any time.
            </p>
            <p>QQ:359713842 </p>
            <p><a style="text-decoration: none; color: inherit;" href="mailto:zhaochy_2015@hotmail.com">Email:zhaochy_2015@hotmail.com</a>
            </p>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <div class="footImg text-muted"><h3>Copyright</h3></div>
            <hr/>
            <p class="text-muted">Copyright 2016 zhaochy.cn - All RIghts Reserved</p>
        </div>
    </div>
</div>
